# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard/customer
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard/customer

# NestJS API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Typesense Search
NEXT_PUBLIC_TYPESENSE_HOST=localhost
NEXT_PUBLIC_TYPESENSE_PORT=8108
NEXT_PUBLIC_TYPESENSE_PROTOCOL=http
NEXT_PUBLIC_TYPESENSE_API_KEY=your-typesense-api-key

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_...
